@import "tailwindcss";

body {
  background-color: #080a08;
  color: white;
}

@layer utilities {
  .text-glow-cyan {
    text-shadow: 0 0 10px rgba(6, 182, 212, 0.5), 0 0 20px rgba(6, 182, 212, 0.3);
  }
}